body {
    background: #000000; /* Set a fallback background color */
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
} 
video {
    position: fixed;
    top: 25%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 10px;
    width: 350px;
    text-align: center;
}

.game:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.game h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-items: center; /* Center the cells horizontally */
    align-items: center; /* Center the cells vertically */
}

.cell {
  width: 120px; 
  height: 120px;
  background-color: white;
  border: 1px solid black;
  font-size: 32px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Change the cursor to a pointer when hovering over the cell */
}

.cell:hover {
  background-color: #eee;
}

.button{
    position: relative;
    top: 50px;
    right: 170px;
    width: 100px;
    height: 40px;
}
.background{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: -1;
}